# This configuration file updates the Engine and the Signatures automatically
# install-dir for binary? install-dir for engine?
#
internet-srvs=http://professional.avira-update.com/update, http://professional.avira-update.net/update 
peak-handling-srvs=http://profpeak.avira-update.com/update
master-file=/idx/master.idx
product-file=/idx/savapi3-linux_glibc22-en.idx
install-dir=/var/www/nginx-default/update/
update-modules-list=VDF
mirror
