
# This configuration file updates the Engine and the Signatures automatically
# install-dir for binary? install-dir for engine?
#
internet-srvs=http://avira.underground8.com/update
master-file=/idx/master.idx
product-file=/idx/savapi3-linux_glibc22-en.idx
install-dir=/var/lib/avira/vdf
temp-dir=/tmp
update-modules-list=VDF
[% IF use_proxy %]
system-proxy
[% END %]
