Source: limesas-gui
Section: unknown
Priority: optional
Maintainer: Erik Sonnleitner <es@delta-xi.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: limesas-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
        libfcgi0ldbl,
        libfcgi-perl,
#        cpan-libfcgi-procmanager-perl,
        libgd-gd2-perl
Description: this are all the files you need for the limesas-gui
