#!/usr/bin/make -f

%:
	dh $@
	dh_installinit --name=firewall -- defaults 20
	dh_installinit --name=rtlogd -- defaults 20
	dh_installinit --name=factory_defaults -- defaults 20
	dh_installinit --name=quarantine-cron -- defaults 60
	dh_installinit --name=quarantine-ng -- defaults 60
	dh_installinit --name=lcd_menu -- defaults 61
	dh_installinit --name=as-ldap-sync --no-start -- stop 60 0 6 . 
