Source: limesas-lib
Section: unknown
Priority: optional
Maintainer: Erik Sonnleitner <es@delta-xi.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: limesas-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Pre-Depends: openssl (>= 0.9.8c-4ubuntu0.3),
	lighttpd,
#		cpan-libwww-perl,
#        cpan-libcatalyst-runtime-perl,
#        cpan-liberror-perl,
        libxml-simple-perl,
#        cpan-libclone-any-perl,
#        cpan-libcrypt-cbc-perl,
#        cpan-libcatalyst-plugin-authentication-perl,
        libapache-htpasswd-perl,
#        cpan-libdigest-sha2-perl,
#        cpan-libfastglob-perl,
        libxml-smart-perl,
#        cpan-libdbi-perl,
#        cpan-libsys-statistics-linux-perl,
#        cpan-libhtml-prototype-perl,
#        cpan-libcatalyst-plugin-fillinform-perl,
#        cpan-libcatalyst-plugin-formvalidator-perl,
#        cpan-libcatalyst-plugin-unicode-perl,
#        cpan-libcatalyst-plugin-i18n-perl,
#        cpan-libcatalyst-plugin-session-state-cookie-perl,
#        cpan-libcatalyst-plugin-session-store-file-perl,
#        cpan-libcatalyst-plugin-authorization-acl-perl,
#        cpan-libcatalyst-plugin-authorization-roles-perl,
#        cpan-libcatalyst-plugin-authentication-store-htpasswd-perl,
#        cpan-libcatalyst-plugin-stacktrace-perl,
#        cpan-libcatalyst-plugin-static-simple-perl,
#        cpan-libcatalyst-plugin-configloader-perl,
#        cpan-libcatalyst-view-tt-perl,
#        cpan-libnetaddr-ip-perl,
#        cpan-libcatalyst-action-renderview-perl,
        libcrypt-passwdmd5-perl,
#        cpan-libchart-clicker-perl,
#        libwrapchartclicker-perl,
        libcrypt-blowfish-perl,
#        cpan-libcatalyst-plugin-email-perl,
#        cpan-libfile-slurp-perl,
        libio-socket-ssl-perl,
#        cpan-libtemplate-toolkit-perl,
#        cpan-libemail-mime-createhtml-perl,
#        cpan-libtimedate-perl,
#        cpan-libnet-perl,
#        cpan-libdbd-mysql-perl,
#        cpan-libtemplate-plugin-texttohtml-perl,
#        cpan-libmime-tools-perl,
#        cpan-libdata-formvalidator-perl,
#        cpan-libbase-perl,
#        cpan-libclass-accessor-perl,
#        cpan-libdigest-perl,
#        cpan-libfile-flock-perl,
#        cpan-libnet-smtp-tls-perl,
#        cpan-libtest-harness-perl,
#        cpan-libtest-mockobject-perl,
#        cpan-libtime-piece-perl,
#        cpan-libtree-simple-perl,
#        cpan-libyaml-perl,
        libxml-dumper-perl,
#        cpan-libconfig-file-perl,
#        cpan-liblockfile-simple-perl,
        libnet-server-mail-perl,
        libdatetime-format-strptime-perl,
#        cpan-libregexp-common-email-address-perl,
#    	cpan-libcrypt-openssl-rsa-perl,
#    	cpan-libmail-dkim-perl,
#        cpan-libhash-merge-perl,
#        cpan-libmoose-perl,
#        cpan-libsub-exporter-perl,
#        cpan-libclass-mop-perl,
#        cpan-libstring-urandom-perl,
        libnet-ldap-perl,
        amavisd-new,
        postfix-pcre,
        traceroute,
#        cpan-libschedule-cron-perl,
#        cpan-libnet-telnet-perl,
        limesas-gui,
        curl,
		pdftk,
		uudeview,
		libmime-lite-perl,
		python-html5lib,
		python-setuptools,
		python-reportlab,
		python-reportlab-accel,
		zip,
#		utrac,
#		cpan-libnet-cidr-perl,
#		cpan-libnet-cidr-lite-perl,
#		postfwd,
		libcurses-perl,
#        batv-filter,
		snmp,
		snmpd,
#		cpan-libhtml-parser-perl,
#		cpan-libcompress-raw-zlib-perl,
#		cpan-libcompress-raw-bzip2-perl,
#		cpan-libio-compress-perl,
#Conflicts: cpan-libcompress-zlib-perl,
Description: all the underground8 libs for limesas
