Source: limesas-lib
Section: admin
Priority: optional
Maintainer: Erik Sonnleitner <es@delta-xi.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: limesas-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Pre-Depends: openssl (>= 0.9.8c-4ubuntu0.3),
	amavisd-new,
	arj,
	cabextract,
	clamav-daemon,
	clamav,
	curl,
	dnsmasq,
	libcairo2,
	lzop,
	monit,
	munin,
	mysql-server,
	nomarch,
	ntp,
	p7zip,
	pax,
	pdftk,
	nginx,
	postfix,
	postfix-pcre,
	sqlgrey,
	procmail,
	python-html5lib,
	python-reportlab,
	python-reportlab-accel,
	python-setuptools,
	snmp,
	snmpd,
	spamassassin,
	syslog-ng,
	traceroute,
	unrar-free,
	aview,
	uudeview,
	zip,
	zoo,
	postfwd,
	libalgorithm-c3-perl,
	libappconfig-perl,
	libb-hooks-endofscope-perl,
	libcairo-perl,
	libcarp-clan-perl,
	libcatalyst-view-tt-perl,
	libclass-accessor-perl,
	libclass-c3-adopt-next-perl,
	libclass-c3-perl,
	libclass-c3-xs-perl,
#	libclass-mop-perl, does not exist anymore apparently
	libclone-perl,
	libcompress-raw-bzip2-perl,
	libcompress-raw-zlib-perl,
	libconfig-file-perl,
	libcrypt-cbc-perl,
	libcrypt-openssl-rsa-perl,
	libdata-formvalidator-perl,
	libdatetime-set-perl,
	libdbd-mysql-perl,
	libdbi-perl,
	libdevel-globaldestruction-perl,
	libdigest-md5-perl,
	libdigest-perl,
	libemail-mime-createhtml-perl,
	libemail-mime-perl,
	libfcgi-procmanager-perl,
	libfile-flock-perl,
	libfile-path-perl,
	libfile-policy-perl,
	libfile-slurp-perl,
	libhash-merge-perl,
	libhtml-parser-perl,
	libhtml-prototype-perl,
	libio-compress-perl,
	liblockfile-simple-perl,
	libmail-dkim-perl,
	libmath-bigint-perl,
	libmime-base64-perl,
	libmime-tools-perl,
	libmoose-perl,
	libmoosex-emulate-class-accessor-fast-perl,
	libmoosex-methodattributes-perl,
	libmoosex-types-perl,
	libmro-compat-perl,
	libnamespace-autoclean-perl,
	libnamespace-clean-perl,
	libnet-cidr-lite-perl,
	libnet-cidr-perl,
	libnet-dns-async-perl,
	libnet-perl,
	libnet-telnet-perl,
	libnetaddr-ip-perl,
	libpod-simple-perl,
	libregexp-common-email-address-perl,
	libscalar-list-utils-perl,
	libschedule-cron-perl,
	libset-infinite-perl,
	libstorable-perl,
	libstring-rewriteprefix-perl,
	libsub-exporter-perl,
	libsub-name-perl,
	libsub-uplevel-perl,
	libsys-statistics-linux-perl,
	libtask-weaken-perl,
	libtest-exception-perl,
	libtest-harness-perl,
	libtest-mockobject-perl,
	libtest-simple-perl,
	libtest-www-mechanize-catalyst-perl,
	libtime-local-perl,
	libtime-piece-perl,
	libtimedate-perl,
	libtree-simple-perl,
	libvariable-magic-perl,
	libwww-perl,
	libyaml-perl,
	libpod-escapes-perl,
	libalgorithm-c3-perl,
	libapache-htpasswd-perl,
	libappconfig-perl,
	libcairo-perl,
	libcarp-clan-perl,
	libclass-accessor-perl,
	libclass-c3-perl,
	libclass-c3-xs-perl,
	libclone-perl,
	libcompress-raw-zlib-perl,
	libswitch-perl,
	libconfig-file-perl,
	libcrypt-blowfish-perl,
	libcrypt-cbc-perl,
	libcrypt-openssl-rsa-perl,
	libcrypt-passwdmd5-perl,
	libcurses-perl,
	libdata-formvalidator-perl,
	libdatetime-format-strptime-perl,
	libdatetime-set-perl,
	libdbd-mysql-perl,
	libdbi-perl,
	libdigest-md5-perl,
	libdigest-perl,
	libfcgi-perl,
	libfcgi-procmanager-perl,
	libfcgi0ldbl,
	libfile-flock-perl,
	libfile-slurp-perl,
	libgd-gd2-perl,
	libhash-merge-perl,
	libhtml-parser-perl,
	libhtml-prototype-perl,
	libio-socket-ssl-perl,
	liblockfile-simple-perl,
	libmail-dkim-perl,
	libmath-bigint-perl,
	libmime-base64-perl,
	libmime-lite-perl,
	libmime-tools-perl,
	libmoose-perl,
	libmro-compat-perl,
	libnamespace-clean-perl,
	libnet-cidr-lite-perl,
	libnet-cidr-perl,
	libnet-ldap-perl,
	libnet-perl,
	libnet-server-mail-perl,
	libnet-telnet-perl,
	libnetaddr-ip-perl,
	libpod-simple-perl,
	libregexp-common-email-address-perl,
	libscalar-list-utils-perl,
	libschedule-cron-perl,
	libset-infinite-perl,
	libstorable-perl,
	libsub-exporter-perl,
	libsub-name-perl,
	libsub-uplevel-perl,
	libtemplate-perl,
	libtest-exception-perl,
	libtest-harness-perl,
	libtest-mockobject-perl,
	libtest-simple-perl,
	libtime-local-perl,
	libtime-piece-perl,
	libtimedate-perl,
	libtree-simple-perl,
	libwww-perl,
	libxml-dumper-perl,
	libxml-simple-perl,
	libxml-smart-perl,
	libyaml-perl,
	libextutils-cbuilder-perl,
	libextutils-parsexs-perl,
	libfile-homedir-perl,
	libfile-which-perl,
	libcgi-simple-perl,
	libdata-optlist-perl,
	libhttp-body-perl,
	libhttp-request-ascgi-perl,
	liblist-moreutils-perl,
	liblocale-maketext-perl,
	libmodule-load-perl,
	libmodule-corelist-perl,
	libmodule-load-conditional-perl,
	libmodule-pluggable-perl,
	libmro-compat-perl,
	libparams-check-perl,
	libparams-util-perl,
	libparams-validate-perl,
	libpath-class-perl,
	libscope-guard-perl,
	libsub-exporter-perl,
	libsub-install-perl,
	libtest-deep-perl,
	libtest-exception-perl,
	libtest-nowarnings-perl,
	libtest-warn-perl,
	libtest-simple-perl,
	libcatalyst-action-rest-perl,
	libcatalyst-manual-perl,
	libcatalyst-model-cdbi-perl,
	libcatalyst-modules-extra-perl,
	libcatalyst-modules-perl,
	libcatalyst-perl,
	libio-lockedfile-perl,
	libxml-simple-perl,
	libapache-htpasswd-perl,
	libxml-smart-perl,
	libcrypt-passwdmd5-perl,
	libcrypt-blowfish-perl,
	libio-socket-ssl-perl,
	libxml-dumper-perl,
	libnet-server-mail-perl,
	libdatetime-format-strptime-perl,
	libnet-ldap-perl,
	libemail-send-perl,
	amavisd-new,
	postfix-pcre,
	traceroute,
	limesas-gui,
	curl,
	pdftk,
	uudeview,
	libmime-lite-perl,
	python-html5lib,
	python-setuptools,
	python-reportlab,
	python-reportlab-accel,
	zip,
	libcurses-perl,
	snmp,
	snmpd,
#Conflicts: cpan-libcompress-zlib-perl,
Description: all the underground8 libs for limesas
